{% for flashMessage in app.session.flashbag.get('error') %}
    <div class="alert alert-danger" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>

        <p><i class="fa fa-exclamation-circle"></i> <strong>{{ 'danger'|trans }}!</strong></p>

        <p>{{ flashMessage|trans|raw }}</p>
    </div>
{% endfor %}
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>

            <p><i class="fa fa-check"></i> <strong>{{ 'success'|trans }}!</strong></p>

            <p>{{ flashMessage|trans|raw }}</p>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>

            <p><i class="fa fa-info-circle"></i> <strong>{{ 'info'|trans }}</strong></p>

            <p>{{ flashMessage|trans|raw }}</p>
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-warning" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>

            <p><i class="fa fa-warning"></i> <strong>{{ 'warning'|trans }}!</strong></p>

            <p>{{ flashMessage|trans|raw }}</p>
        </div>
    {% endfor %}
