{% extends 'base.html.twig' %}

{% block content %}
<div class="note note-info">
    <p> A black page template with a minimal dependency assets to use as a base
        for
        any custom page you create </p>
</div>
{% endblock %}
