{% extends 'default.html.twig' %}

{% set title = 'year_qoutas'|trans %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet light ">
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    {{ 'year'|trans }}
                                </th>
                                <th>
                                    {{ 'money_amount'|trans }}
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for quota in quotas %}
                                <tr>
                                    <td>
                                        {{ loop.index }}.
                                    </td>
                                    <td>
                                        {{ quota.year }}
                                    </td>
                                    <td>
                                        {{ quota.amount|money_localized_format }}
                                    </td>
                                    <td>
                                        <a class="btn btn-xs btn-yellow"
                                           href="{{ path('quota_edit', {'id': quota.id}) }}">{{ 'Edit'|trans }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
{% endblock %}