{% extends 'default.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="portlet light ">
                <div class="portlet-body form">
                    {% include 'quota/form.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}