{% extends 'default.html.twig' %}

{% set title = 'currencies_with_exchange_rate'|trans %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <!-- BEGIN SAMPLE TABLE PORTLET-->
            <div class="portlet light ">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="icon-social-dribbble font-green"></i>
                        <span class="caption-subject font-green bold uppercase">{{ 'as_of'|trans }} {{ date()|localizeddate('long') }}</span>
                    </div>
                </div>
                <div class="portlet-body">
                    <div class="table-scrollable">
                        <table class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <th></th>
                                <th>
                                    {{ 'currency'|trans }}
                                </th>
                                <th>
                                    {{ 'rate'|trans }}
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for currency, ratio in currenciesWithRatio %}
                                <tr>
                                    <th>
                                        {{ loop.index }}.
                                    </th>
                                    <th>
                                        {{ currency }}
                                    </th>
                                    <th>
                                        {{ (1/ratio)|number_format(2, '.') }}
                                    </th>
                                    <th>
                                        {% if ratio == 1 %}
                                            <span class="label label-sm label-info"> {{ 'default_currency'|trans }} </span>
                                        {% endif %}
                                    </th>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END SAMPLE TABLE PORTLET-->
        </div>
    </div>
{% endblock %}