.form-group .required {
    font-size: 14px;
    color: #34495e;
}

.form-group .required:after {
    content: '*';
    color: #e02222;
    font-size: 12px;
    padding-left: 2px;
    position: absolute;
}