{% extends 'base.html.twig' %}

{% block page_stylesheets %}
    <!-- BEGIN PAGE LEVEL STYLES -->
    <link href="{{ asset('assets/pages/css/login-3.min.css') }}" rel="stylesheet" type="text/css"/>
    <!-- END PAGE LEVEL STYLES -->
{% endblock %}

{% block body %}

    <body class=" login">
    <!-- BEGIN LOGO -->
    <div class="logo">
        <a href="index.html">
            <img src="{{ asset('assets/pages/img/logo-big.png') }}" alt=""/> </a>
    </div>
    <!-- END LOGO -->
    <!-- BEGIN LOGIN -->
    <div class="content">
        <!-- BEGIN LOGIN FORM -->
        <form class="login-form" action="{{ path("login") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ fos_csrf_provider.token('authenticate') }}" />
            <h3 class="form-title">{{ 'security.login.header'|trans }}</h3>
            {% if error %}
                <div class="alert alert-danger">
                    <button class="close" data-close="alert"></button>
                    <span>{{ error.messageKey|trans(error.messageData, 'security') }}</span>
                </div>
            {% endif %}

            <div class="form-group">
                <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
                <label class="control-label visible-ie8 visible-ie9">{{ 'username'|trans }}</label>
                <div class="input-icon">
                    <i class="fa fa-user"></i>
                    <input class="form-control placeholder-no-fix" required="required" type="text" autocomplete="off"
                           placeholder="{{ 'username'|trans }}"
                           name="_username"/></div>
            </div>
            <div class="form-group">
                <label class="control-label visible-ie8 visible-ie9">{{ 'password'|trans }}</label>
                <div class="input-icon">
                    <i class="fa fa-lock"></i>
                    <input class="form-control placeholder-no-fix" required="required" type="password"
                           autocomplete="off"
                           placeholder="{{ 'password'|trans }}" name="_password"/></div>
            </div>
            <div class="form-actions">
                <label class="rememberme mt-checkbox mt-checkbox-outline">
                    <input type="checkbox" name="_remember_me" value="1"/>{{ 'security.login.remember_me'|trans }}
                    <span></span>
                </label>
                <button type="submit" class="btn green pull-right"> {{ 'login'|trans }}</button>
            </div>
            {#<div class="forget-password">
                <h4>{{ 'security.login.forgot_password'|trans }}</h4>
                <p> no worries, click
                    <a href="javascript:;" id="forget-password"> here </a> to reset your password. </p>
            </div>#}
        </form>
        <!-- END LOGIN FORM -->
        {#<!-- BEGIN FORGOT PASSWORD FORM -->
        <form class="forget-form" action="index.html" method="post">
            <h3>Forget Password ?</h3>
            <p> Enter your e-mail address below to reset your password. </p>
            <div class="form-group">
                <div class="input-icon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email"
                           name="email"/></div>
            </div>
            <div class="form-actions">
                <button type="button" id="back-btn" class="btn grey-salsa btn-outline"> Back</button>
                <button type="submit" class="btn green pull-right"> Submit</button>
            </div>
        </form>
        <!-- END FORGOT PASSWORD FORM -->#}
    </div>

    {{ block('javascripts') }}
    {% block page_javascripts %}
        <!-- BEGIN PAGE LEVEL SCRIPTS -->
        <script src="{{ asset('assets/global/plugins/jquery-validation/js/jquery.validate.min.js') }}" type="text/javascript"></script>
        <script src="{{ asset('assets/pages/scripts/login.min.js') }}" type="text/javascript"></script>
        <!-- END PAGE LEVEL SCRIPTS -->
    {% endblock %}
{% endblock %}